$pTagColor1:#363F48;
$pTagColor2: #666666;

@mixin ValeraRound{
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    line-height: 14px;
}

.contentWrapper{
  width:940px;
  display:flex;
  flex-direction: column;
  margin: 0 auto;
}

.mainContent{
  display: flex;
  gap:15px;
}

.categoryDiv {
  box-sizing: border-box;
  position: relative;
  margin-bottom: 17px;
  padding-right: 10px;
  padding-top: 15px;

  h3 {
    font-family: 'Bitter';
    color: $pTagColor1;
    margin-left: 40px;
    margin-top:0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
  background:white;
  max-width:620px;
  min-width: 290px;
  min-height:325px;
  height:auto;
}

.stripe {
  position: absolute;
  width: 13px;
  height: 100%;
  left: 0px;
  top: 0px;
}

.slick-prev:before, .slick-next:before  {
  content: '' !important;
}

.bannerDiv{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:white;
  border: 1px solid #D7D7D7;
  color: #999999;
  margin-top:20px;
  margin-bottom:20px;
  p{
    margin:0;
  }
}

.heading{
  display:flex;
  height: 20px;
  @include ValeraRound()
}

.comments{
  display: flex;
  gap:6px;
  margin-left:30px;
  width:120px;
  img{
    height:15px;
    width:15px;
  }
}

.date{
  @include ValeraRound()
}

.itemText, .carouselItemText,.itemTextVideo {
    p {
      margin: 3px;
    }

    p:nth-child(1) {
      color: $pTagColor2;
    }

     p:nth-child(2) {
      font-family: 'Bitter';
      font-size: 14;
      font-weight: 700;
      line-height: 17px;
      color: $pTagColor1;
    }
}

.itemTextVideo{
  width:303px;
  height:96px;
  background-color: white;
  p:nth-child(1){
    font-size: 12px;
  }
  p{
    width:270px;
    margin-left:32px;
  }
}

.itemText{
  max-width: 170px;
}

.singleItemCarousel{
  display:flex;
  gap:20px;
}

.items {
  display: flex;
  gap: 20px;
  position: relative;
  padding: 10px 0px 0px 40px;
  width:auto;
}













