$purple-bg: #4d4382;
$grey-color: #acb3ba;

p {
  margin: 0;
}

.sidebarItems {
  width: 303px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height:1983px;
}

.purpleDiv {
  background-color: $purple-bg;
  height: 667px;
}

.options {
  display: flex;
  justify-content: center;
  gap: 23px;
  color: $grey-color;
  background: rgba(0, 0, 0, 0.2);
  mix-blend-mode: normal;

  p {
    margin: 18px 0;
    font-size: 14px;
    border-bottom: 1px solid rgba(172, 179, 186, 0.3);
    line-height: 16.9px;
  }
}

.itemsListSidebar {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.itemContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    border: 2px solid white;
    height: 70px;
    width: 70px;
  }

  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.itemTextSidebar {
  position: relative;
  width: 170px;

  p:nth-child(1) {
    font-size: 10px;
    color: $grey-color;
  }

  p:nth-child(2) {
    font-family: "Bitter";
    font-size: 14px;
    line-height: 17px;
    color: white;
  }
}

.commentsSidebar {
  position: absolute;
  top: 23px;
  font-size: 10px;
  color: $grey-color;
  width: 20px;
  height: 10px;
  display: flex;
  align-items: center;

  img {
    width: 11px;
    height: 100%;
    border: none;
  }
  div{
    margin-left:5px;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.linkItem {
  display: flex;
  height: 40px;
}

.like {
  width: 122px;
  background-color: #dddddd;
  color: #363f48;

  p {
    margin-top: 10px;
    margin-left: 10px;
    font-family: "Bitter", serif;
    font-size: 18px;
  }
}

.following {
  width: 142px;
  color: white;
  background-color: $purple-bg;

  p {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
  }
}

.kenazTvDiv{
  height:324px;
  display:flex;
  flex-direction: column;
}

.videoDiv{
  position: relative;
  height:150px;
  display:flex;
  justify-content: center;
  align-items: center;
}

 .playButton{
  position:absolute;
 }
.polygon{
  background: url('Rounded Rectangle 1.png');
  width:62px;
  height:43px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.heading3{
  height:80;
  background-color: white;
  h3{
    margin-left:32px;
  }
}

.bannerSection{
  background-color: #DDDDDD;
  display:flex;
  justify-content: center;
  align-items: center;
}

.bannerContainer{
  display: flex;
  gap:7px;
}

.socialMediaSection{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}



