
.contentWrapper{
  width:940px;
  display:flex;
  flex-direction:column;
  margin: auto;
}

.navbarLinks{
  font-size:18px;
  font-weight:700;
  padding:0;
  height:100%;
  display:flex;
  justify-content: flex-start;
  align-items:center;
  gap:30px;
  color:white;
}
.kenazHeader {
  display:flex;
  align-items: center;
  color:white;
  img{
    height:21px;
    margin-right:35px;
  }
}
.headerContent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .headerLinks{
    font-size:14px;
    display:flex;
    justify-content: flex-end;
    gap:20px;
    li{
      margin-right:30px;
      
    }
  }

}

.highlitedLink{
  height:60px;
  background-color: #299EC3;
  display: flex;
  justify-content: center;
  align-items: center;
  width:96px;
}

.slick-prev {
  left: 3% !important;
}
.slick-next {
  right: 3% !important;
}

.slick-next, .slick-prev{
  top:177px;
  z-index:1;
}

.slick-prev:before, .slick-next:before  {
  content: '' !important;
}

.bannerDiv{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:white;
  border: 1px solid #D7D7D7;
  color: #999999;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top:20px;
  margin-bottom:20px;
  p{
    margin:0;
  }
}

.date{
  display:inline-block;
  width:110px;
}





