$header-color: #252525;
$purple-color: #4D4382;

.navbarLinks {
    font-size: 18px;
    font-weight: 700;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    color: white;
}

.kenazHeader {
    display: flex;
    align-items: center;

    color: white;
    font-family: 'Bitter', 'serif';

    img {
        height: 21px;
        margin-right: 35px;
    }
}

.searchDiv {
    max-width: 62px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
}

.headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLinks {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    li {
        margin-left: 20px;
    }
}

.highlitedLink {
    height: 60px;
    background-color: #299EC3;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
}

.header {
    height: 50%;
    width: 100%;
    background: $header-color;
    color: white;
    display: flex;

    li {
        font-family: 'Varela Round';
    }
}

.navbar {
    background: $purple-color;
    height: 50%;

    li {
        font-family: 'Bitter';
    }
}

.header div,
.navbar ul {
    margin: 0 auto;
    width: 940px;
}