.zoomCarouselContainer{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    height:400px;
}

.carouselImg {
    position:relative;
    width: 100%;
    height: 400px;

    img {
        display: inline-block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

 .zoomCarouselBg {
    background: url('/Layer 38.png');
    background-size: cover;


    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 240px;
} 

.navCarousel{
         
    //position:absolute;
    //width:940px;
    
    div{
        margin:3px;
    }
}

.navCarouselImg{
    //max-width:120px;
    height:120px;
    margin-left:10px;
    margin-right: 10px;
    img {
            display: inline-block;
            width: 120px;
            height: 100%;
            object-fit: cover;
        }
}